<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>
	{% load staticfiles %}
   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>pitch-search</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="{% static 'searcher/css/base.css' %}">  
   <link rel="stylesheet" href="{% static 'searcher/css/demo.css' %}">

   <!-- script
   ================================================== -->
	<script src="{% static 'searcher/js/modernizr.js' %}"></script>

   <!-- favicons
	================================================== -->

</head>

<body>

	<!-- header 
   ================================================== -->
   <header>
   	<div class="row">
   		<div class="col-twelve">

   			<a href="/"><h1>about<span>.</span></h1></a>

   			<p class="lead">
			<hr>
				<h2>Credits</h2><br>
				<h3> Abhay Tank </h3>
				<h3> Aniket Shinde </h3>
				<h3> Gaurav Chawhan </h3>
				<h3> Dhruv Parekh </h3>
			<br>
			<hr>
				<p> <h2> Location </h2> </p><br>
				<iframe src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d1622.4194378753816!2d72.82300588481742!3d19.351599048064294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d19.3516369!2d72.8242891!5e1!3m2!1sen!2sin!4v1489564006669" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				<br><br>
			<hr>
			<br>
				<h2>Contact Us</h2><br>
				<p> <h3>Abhay Tank </h3>  <font color="white">+91 8698092575</font>  ||  <a href="#"> abhaytank64@gmail.com </a></p><br>
				<p> <h3>Aniket Shinde </h3> <font color="white">+91 8108026664</font>  ||  <a href="#"> shindeaniket104@gmail.com </a></p><br>
				<p> <h3>Gaurav Chawhan </h3> <font color="white">+91 9969377050</font>  ||  <a href="#"> chawhangaurav10@gmail.com </a></p><br>
				<p> <h3>Dhruv Parekh </h3>  <font color="white">+91 8446336232</font>  ||  <a href="#"> parekhdhruv04@gmail.com </a></p><br>
				<br></br>
				<a href="/"><h2>Return to Home Page<span>.</span></h2></a>
   			</p>

   		</div>
   	</div>   	
   </header> <!-- /header -->


   <!-- Java Script
   ================================================== --> 
   <script src="{% static 'searcher/js/jquery-2.1.3.min.js' %}"></script>
   <script src="{% static 'searcher/js/main.js' %}"></script>

</body>

</html>